# -*- mode: conf-space; -*-

# more documentation on readline's .inputrc can be found in
# bash's info pages under Command Line Editing/Readline Init File

$include /etc/inputrc

# with Caps Lock as ESC
set editing-mode emacs

#### COMPLETION
set completion-ignore-case on
set completion-prefix-display-length 5
set completion-map-case on
####


#### BINDINGS
# cycle through completions instead of typing them out
$if mode=emacs
"\C-j": menu-complete
# $else
$endif
####


#### MISC
set bell-style visible
set completion-query-items 30
set page-completions off

# allow input of UTF-8 chars
# see: https://stackoverflow.com/questions/4606570/os-x-terminal-utf-8-issues#5897729
# set input-meta on
# set output-meta on
# set convert-meta off
