snippet inc "include directive" b
#include <${1:header}>$0
endsnippet

snippet main "main function" b
int main($1) {
	$0
}
endsnippet

snippet std "using namespace std" b
using namespace std;$0
endsnippet
